.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: #000;
}
h1{
    font-size: 3em;
    color: #FCA311;
    margin-left: 20px;
}
nav{
    display: flex;
    gap: 2em;
    margin-right: 100px;
}
.link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.51);
    font-size: 1.5em;
    position: relative;
    padding-bottom: 3px;
    transition: 0.4s ease-in-out;
    font-weight: bold;
}
.link::after{
    position: absolute;
    content: '';
    width: 0%;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: #FCA311;
    transition: 0.4s ease-in-out;
}
.link:hover::after{
    width: 100%;
    transition: 0.4s ease-in-out;
}
.link:hover{
    transition: 0.4s ease-in-out;
    color:white;
}