.card {
    display: flex;
    background-color: #24272C; /*jghjg */
    width: 80%;
    height: 150px;
    border-radius: 10px;
    align-items: center;
    margin-top: 45px;

    animation-name: entrada;
    animation-duration: 1s;
}

@keyframes  entrada{
    0%{
        margin-top: 250px;
        opacity: 0.1;
    }
    100% {
        margin-top: 45px;
        opacity: 1
    }
}

.imgDiv img {
    height: 150px;
}

.title {
    width: 300px;
}

.title p {
    font-size: 40px;
    color: #fff;
    font-weight: bolder;
}

.tudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.din {
    background-color: #000000;
    color: #FCA311;
    border-radius: 15px;
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;
}

.din p {
    width: 100px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.din a {
    transition: 0.5s;
    background-color: #FCA311;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    height: 70px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 85px;
}

.din a:hover {
    background-color: #BE7B0C;
}

